/** start of global css */
:root {
  --viewport-icon__z-index:3;
  background:snow;
}

header {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-template-rows: 100vh;
  background:white;
}
/** end of global css */

.viewport-icon {
  position: absolute;
  left: calc(50% - 1.375rem); 
  top: calc(100vh - 7.5rem) ;
  z-index: var(--viewport-icon__z-index);
}

.viewport-icon svg {
  width: 2.75rem;
  height: 2.75rem;
  fill:currentColor;
}


